  body {
      height: 90vh;
      padding: 0 !important;
      margin: 0 auto !important;
      background-color: #161616 !important;
      font-family: 'Raleway';
  }
  
  .fixed {
    position: fixed !important;
    top: 0px;
    left: 0px;
    bottom: 0px;
  }
  
  .draggable, .ui-draggable{
      cursor: pointer!important;
  }
  
  .ui-dialog{
      width: 40%!important;
  }
  
  .ui-dialog-titlebar{
      background:#161616;
      color:#ffffff;
      font-size: 1.2em;
      padding-left: 5px;
      display:flex;
      align-items:center;
      justify-content:space-between;
  
  }
  
  .ui-dialog-titlebar-close::before{
      content: '\00D7';
  }
  
  .ui-dialog-titlebar-close{
    color: #ffffff;
    background: transparent;
    border: none;
    outline: none;
    float: right;
    margin-right: 5px;
  
  }
  
  .ui-dialog-titlebar-close:hover{
  color: #ff0000;
  }
  
  .ui-dialog-content{
    cursor: default;
    border:2px solid #161616;
    background: #343A40;
  }

  .textA {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    color: #ffffff;
  }

  .textB {
    font-weight: 600;
    font-size: 28px;
    line-height: 11.74px;
    color: #ffffff;
  }

  .textC {
    font-weight: 400;
    font-size: 13px;
    line-height: 15.26px;
    color: #ffffff;
  }

  #elementContactMe {
    position: absolute;
    left: 40px;
    top: 40px;
  }

  #elementAboutMe {
    position: absolute;
    left: 200px;
    top: 400px;
  }

  #elementWorks {
    position: absolute;
    left: 1000px;
    top: 200px;
  }

  #elementRandomStuff {
    position: absolute;
    left: 800px;
    top: 500px;
  }







