  body {
      height: 90vh;
      padding: 0 !important;
      margin: 0 auto !important;
      background-color: #161616 !important;
      font-family: 'Raleway';
  }
  
  .draggable{
    cursor: pointer!important;
  }  

  .folder{
    cursor: pointer!important;
  }
 
  .textA {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    color: #ffffff;
  }

  .textB {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 28px;
    line-height: 30.74px;
    color: #ffffff;
  }

  .textC {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 13px;
    line-height: 15.26px;
    color: #ffffff;
  }

  .dialog {
    display: none;
  }

  .dialogHeader{
    height: 26px !important;
  } 

  .dialogContent {
    height: 75% ;
    resize: none;
    display: block;     
  }

  .dialogContent:hover{
    cursor:default!important;
  }

  .font1 {
    background-image: linear-gradient(to right,#EC671F, #7143CD);
  }

  .fontForScattofisso {
    background-color: #4934CF;
  }

  .closeButton {
    width: 20px;
    opacity: 0.4;
  }

  .closeButton:hover{
    opacity: 1;
  }
  
  .fullButton{
    width: 20px;
    margin-right: 5px;
    opacity: 0.4;
  }

  .fullButton:hover{
    opacity: 1;
  }

  .noFullButton{
    display: none;
    width: 20px;
    margin-right: 5px;
    opacity: 0.4;
  }

  .noFullButton:hover{
    opacity: 1;
  }

  #elementContactMe {
    position: fixed;
    top: 5%;
    left: 10%;
  }

  #elementAboutMe {
    position: fixed;
    left: 20%;
    top: 60%;
  }

  #elementWorks {
    position: fixed;
    left: 70%;
    top: 30%;
  }

  #elementRandomStuff {
    position: fixed;
    left: 60%;
    top: 70%;
  }

  .onHover:hover{
    background: linear-gradient(56deg, rgba(31, 236, 150, 0.4) 0%, rgba(113, 67, 205, 0.4) 100%);
  }

  #dialogAboutMePhoto .dialogContent img{
    width: 100%;
  }

  #dialogContactMe a:hover{
    background: -webkit-linear-gradient(56deg, #1FEC96 0%, #7143CD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #chiudiTutto{
    width: 134px;
    padding: 3px;
    height: 30px;
    position:absolute;
    top:0;
    right:0;
    border-radius: 0 0 0 10px;
    cursor: pointer;
  }

  #chiudiTutto:hover{
    background: linear-gradient(56deg, #1FEC96 0%, #7143CD 100%);
    text-decoration: underline;
  }

  #chiudiTutto:active,
  #chiudiTutto:focus{
    background: #ffffff;
  }

.grad01{
  background: linear-gradient(56deg, #EC671F 0%, #7143CD 100%);
}

.grad02{
  background: linear-gradient(56deg, #1FEC96 0%, #7143CD 100%);
}

.dark{
  background: #161616;
}

.textGrad01{
  background: -webkit-linear-gradient(56deg, #EC671F 0%, #7143CD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textGrad02{
  background: -webkit-linear-gradient(56deg, #1FEC96 0%, #7143CD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#logo {
  position: fixed;
  bottom: -100px;
  left: -120px;
  width: 25%;
}

/* STYLE SLIDESHOW */
.pranzoSlides1, .pranzoSlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}